<h1 class="page-header">Register Page</h1>

<!-- Custom Success/Error Message -->
<div class="row show-hide-message">
    <div [ngClass]="messageClass">
        {{ message }}
    </div>
</div>

<!-- Registration Form -->
<form [formGroup]="form" (submit)="onRegisterSubmit()">
    <mat-form-field appearance="fill" [ngClass]="{'has-error': (form.controls.username.errors 
        && form.controls.username.dirty) || (!usernameValid && form.controls.username.dirty), 
        'has-success': !form.controls.username.errors && usernameValid}">
        <mat-label>Enter username</mat-label>
        <input matInput #input placeholder="Ex. manthan" name="username" formControlName="username">
        <mat-error *ngIf="form.controls.username.errors?.required 
            && form.controls.username.dirty && (form.controls.username.errors?.minlength 
            && form.controls.username.dirty || form.controls.username.errors?.maxlength 
            || form.controls.username.dirty) 
            || (form.controls.username.errors?.validateUsername && form.controls.username.dirty)">
            This field is
            required.</mat-error>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill" [ngClass]="{'has-error': (form.controls.email.errors && form.controls.email.dirty) 
        || (!emailValid && form.controls.email.dirty), 'has-success': !form.controls.email.errors && emailValid}">
        <mat-label>Enter email</mat-label>
        <input matInput #input placeholder="Ex. example@gmail.com" name="email" formControlName="email"
            (blur)="checkEmail()">
        <mat-error *ngIf="form.controls.username.dirty 
        || (form.controls.email.errors?.required && form.controls.email.dirty)
        || (form.controls.email.errors?.validateEmail && form.controls.email.dirty) || emailMessage">This field is
            required. {{emailMessage}}</mat-error>
    </mat-form-field>
    <br>
    <br>
    <mat-form-field appearance="fill"
        [ngClass]="{'has-error': (form.controls.password.errors && form.controls.password.dirty), 'has-success': !form.controls.password.errors}">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.controls.password.errors?.required && form.controls.password.dirty
        || (form.controls.password.errors?.minlength && form.controls.password.dirty 
        || form.controls.password.errors?.maxlength && form.controls.password.dirty)
        || (form.controls.password.errors?.validatePassword && form.controls.password.dirty)">This field is
            required.</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill"
        [ngClass]="{'has-error': (form.controls.confirm.errors && form.controls.confirm.dirty) || (form.errors?.matchingPasswords && form.controls.confirm.dirty), 'has-success': !form.controls.confirm.errors && !form.errors?.matchingPasswords}">
        <mat-label>Confirm your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirm">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty
        || (form.errors?.matchingPasswords && form.controls.confirm.dirty)">Passwords don't match</mat-error>
    </mat-form-field>

    <div class="example-button-row">
        <button mat-button color="primary" type="submit" value="Submit" mat-raised-button color="primary"
            [disabled]="!form.valid">
            <mat-icon>face</mat-icon> Login
        </button>
        <button mat-button mat-raised-button color="accent" (click)="signInWithGoogle()">Google SignIn</button>
    </div>
    <br>
    <br>
</form>
<!-- Registration Form /-->